<div>
    {% extends "AppTickets/inicio.html" %}
    {% load static %}
    
        {% block contenidoQueCambia %}        
        
      
        <figure class="text-center">
            <blockquote class="blockquote">
              <p> Cargar Información de Clubes</p>
                    

        <form action="/AppTickets/clubs/" method="post"> {% csrf_token %}
            <table style="color: aliceblue;">
                {{ miFormulario.as_table }}
            </table>
            <input type = "submit" value="Enviar">
        </form>
        </blockquote>  
        </figure>
        
        {% endblock %}          
    
        
</div>